.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-wrapper {
  width: 500px;
}

.loginFormHeader {
  background-color: var(--color-bg-modal-header);
}
