.profile {
  height: calc(100vh - var(--height-header) - var(--height-footer));
}

@media screen and (min-width: 768px) {
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
