@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Text color variables */
  --color-text-main: #000;
  --color-text-contrast: #fff;
  /* --------------------- */
  /* Application color variables */
  --color-bg-header: #202020;
  --color-bg-modal-header: #f1f1f1;
  /* --------------------- */

  /* Application units variables */
  --height-header: 50px;
  --height-footer: 50px;

  /* --------------------- */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Text color variables */
    --color-text-main: #fff;
    --color-text-contrast: #000;
    /* --------------------- */
    /* Application color variables */
    --color-bg-header: #202020;
    --color-bg-modal-header: #f1f1f1;
    /* --------------------- */
    /* Application units variables */
    --height-header: 50px;
    --height-footer: 50px;

    /* --------------------- */
  }
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.border-form {
  border: 2px solid var(--color-bg-modal-header);
}

.slide-fade {
  animation-name: slide-fade;
  animation-duration: 1.5s;
}

@keyframes slide-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
