.movie-card {
  transition: transform 1s;
}

.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.movie-content {
  background-color: rgba(0, 0, 0, 0.3);
}
