.header {
  height: var(--height-header);
  background-color: var(--color-bg-header);
  color: var(--color-text-contrast);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  height: 30px;
  width: auto;
}

.logo-wrapper > svg {
  height: 100%;
}
